# Default owners for the repository
* @Chaleb22 @andrin298 @iathambi @yannikt79

# GitHub related configuration, templates and workflows
.github/ @yannikt79

# Source code
src/ @Chaleb22

# Documentation
docs/ @andrin298
README.md @iathambi
